[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pat-maddox/rspec-mode.el.git
[submodule "vendor/mudphone/repos/clojure-mode"]
	path = vendor/mudphone/repos/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "vendor/mudphone/repos/swank-clojure"]
	path = vendor/mudphone/repos/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "vendor/mudphone/repos/slime"]
	path = vendor/mudphone/repos/slime
	url = git://git.boinkor.net/slime.git
