koba.el
*~
\.\#*
\#*
.DS_Store
.classpath
.erc-auth
.newsrc-dribble
.nnmail-cache
.project
.svn
loaddefs.el*
backups/*
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
/#.newsrc-dribble#
image-dired/
elim/
tramp
